
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
