<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yönetici Girişi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Yönetici Girişi</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="username">Kullanıcı Adı:</label>
            {{ form.username(class="form-control") }}
            <label for="password">Şifre:</label>
            {{ form.password(class="form-control") }}
            <input type="submit" value="Giriş Yap">
        </form>
    </div>
</body>
</html>
