<!-- reply_message.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reply_message.css') }}">

</head>
<body>
    <h1>Reply to Message</h1>
    <form action="{{ url_for('reply_message', message_id=original_message.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=50) }}<br>
            {% for error in form.title.errors %}
                <span class="error">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label }}<br>
            {{ form.content(size=50) }}<br>
            {% for error in form.content.errors %}
                <span class="error">{{ error }}</span><br>
            {% endfor %}
        </div>
        <button type="submit">Send</button>
    </form>
</body>
</html>
